        .input {
            color: #000000;
            background-color: #ffffff4d;
            border: 3px solid #ffffff;
        }

        form .cur-row {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        ::placeholder {
            color: #000000;
            font-weight: 100;
        }

        .table-responsive {
            overflow-x: hidden;
            overflow-y: auto;/
        }

        .row.justify-content-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .membertable {
            border-top: 1px solid #e8eef3;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
            overflow-x: auto;
            white-space: nowrap;

        }

        th {
            background-color: #f2f2f2;
        }

        @media screen and (max-width: 768px) {
            table {
                font-size: 14px;
            }
        }

        ::-webkit-scrollbar {
            width: 5px;
        }

        * {
            scrollbar-width: thin;
        }

        *::-ms-scrollbar {
            width: 5px;
        }


        form {
            width: 500px;
        }

        table {
            border-collapse: collapse;
            margin-bottom: 10px;
        }

        th,
        td {
            padding: 3px 10px;
        }

        .off-screen {
            display: none;
        }

        #memberNav {
            width: 500px;
            text-align: center;
            margin: 0 auto;
        }

        #memberNav a {
            display: inline-block;
            padding: 3px 5px;
            margin-right: 10px;
            font-family: Tahoma;
            background: #ffffff;
            color: #000;
            text-decoration: none;
            position: relative;
        }



        #memberNav a.active {
            background: #333;
            color: #fff;
        }


