.input {
	color: #000000;
	background-color: #ffffff4d;
	border: 3px solid #ffffff;
}

form .cur-row {
	display: flex;
	align-items: center;
	gap: 10px;
}

#myModal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



.custom {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent url('path_to_arrow_icon.png') no-repeat right
		center;
	padding: 0.375rem 1.75rem 0.375rem 0.75rem;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	line-height: 1.5;
	background: url(../../assets/images/custom-select.png) right 1.1rem
		center no-repeat;
}


.table-responsive {
	overflow-x: hidden;
	overflow-y: auto;
}

.row.justify-content-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.membertable {
	border-top: 1px solid #e8eef3;
}

table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: left;
	overflow-x: auto;
	white-space: nowrap;
}

th {
	background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
	table {
		font-size: 14px;
	}
}
::-webkit-scrollbar {
	width: 5px;
}

* {
	scrollbar-width: thin;
}

*::-ms-scrollbar {
	width: 5px;
}

::placeholder {
	color: #000000;
	font-weight: 100;
}
#inlineFormCustomSelect {
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}
.row.justify-content-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.membertable {
	border-top: 1px solid #e8eef3;
}

form {
	width: 500px;
}

table {
	border-collapse: collapse;
	margin-bottom: 10px;
}

th, td {
	padding: 3px 10px;
}

.off-screen {
	display: none;
}

#productNav {
	width: 500px;
	text-align: center;
	margin: 0 auto;
}

#productNav a {
	display: inline-block;
	padding: 3px 5px;
	margin-right: 10px;
	font-family: Tahoma;
	background: #ffffff;
	color: #000;
	text-decoration: none;
	position: relative;
}

#productNav a.active {
	background: #333;
	color: #fff;
}

/* 모달 스타일 */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(157, 157, 157, 0.5);
}

/* 모달 내용 스타일 */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 5%;
	border: 1px solid #888;
	width: 60%;
	margin-left: 20%;
	/* 왼쪽 여백을 추가하여 오른쪽으로 이동 */
	box-shadow: 0 4px 8px 0 rgb(146, 145, 145), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
}

/* 애니메이션 효과 */
@keyframes animatetop {from { top:-300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}

/* 닫기 버튼 스타일 */
.close {
	color: #000000;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.close {
	color: #000000;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
}

.productName:hover {
	cursor: pointer;
	text-decoration: underline;
	color: rgb(4, 184, 255);
}
#products th, #products td {
	width: 25%; /* 각 열의 너비를 25%로 설정합니다. */
}

.swal-text {
	color: black;
}

.table-wrapper{
	color: black;
}
