.input {
	color: #000000;
	background-color: #ffffff4d;
	border: 3px solid #ffffff;
}

form .cur-row {
	display: flex;
	align-items: center;
	gap: 10px;
}

::placeholder {
	color: #000000;
	font-weight: 100;
}

.table-responsive {
	overflow-x: hidden;
	overflow-y: auto;
	/
}

/* 상세설명올리는 크기 조절  */
.addImage {
	width: 50%;
	height: 500px;
	background-color: #ffffff;
	border-radius: 20px 20px/20px 20px;
	overflow: hidden;
	margin: 0px 10px 10px 0px;
}

.inputImg {
	width: 450px;
	height: 350px;
}
