.list-area {
	display: flex;
	justify-content: center; /* 수평 가운데 정렬 */
}

.grid-container {
	display: flex; /* 내부 요소를 수평으로 배치하기 위해 flex 사용 */
	flex-wrap: wrap; /* 요소들이 넘치면 다음 줄로 이동하도록 설정 */
	justify-content: center; /* 요소들을 수평 가운데 정렬 */
	padding: 0;
	list-style: none; /* 리스트 스타일 제거 */
	height: 80px; /* 박스의 높이 */
}

.ctgr_box {
	width: 275px; /* 박스의 너비 */
	display: flex; /* 내부 요소를 가로로 배열하기 위해 flex 사용 */
	align-items: center; /* 내부 요소를 수직 가운데 정렬 */
	justify-content: center; /* 내부 요소를 수평 가운데 정렬 */
	text-decoration: none; /* 링크에 밑줄 제거 */
	color: black; /* 링크 색상 */
	font-size: 20px;
	text-align: center;
}

.grid-container li {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.ctgr_box.active {
	font-weight: bold; /* 선택된 항목에 대한 강조 표시 */
}

#paging {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

#paging ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	justify-content: center; /* ul을 수평 가운데 정렬 */
}

#paging ul li {
	display: inline-block;
	margin-right: 5px; /* 각 페이지 번호 사이의 간격 조절 */
}

#paging ul li:first-child {
	margin-right: 5px; /* 첫 번째 페이지 번호의 간격을 따로 조절 */
}

#paging ul li a {
	display: block;
	padding: 8px 16px;
	font-size: 16px;
	color: #000;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	text-decoration: none;
}

#paging ul li.active a {
    background-color: #007bff; /* active 클래스가 있는 li의 하위에 있는 a 태그의 배경색을 파란색(#333)으로 변경 */
    /* background-color: #333; */ /* active 클래스가 있는 li의 하위에 있는 a 태그의 배경색을 파란색(#333)으로 변경 */
    color: #fff; /* 텍스트 색상을 하얀색(#fff)으로 변경 */
    border-color: #333; /* 테두리 색상 변경 */
}


#paging ul li.paging_num {
	display: inline-block;
	margin-right: 5px; /* 각 페이지 번호 사이의 간격 조절 */
}

#paging ul li.paging_num:first-child {
	margin-right: 5px; /* 첫 번째 페이지 번호의 간격을 따로 조절 */
} 

.custom-button:focus {
    outline: none; /* 포커스된 요소의 기본 테두리 제거 */
}

